aside.aside
  .aside__menu
    .menu
      a.menu__link(href="#") Об&nbsp;институте
      a.menu__link(href="#") Программы&nbsp;ПП
      a.menu__link(href="#") Программы&nbsp;ПК
      a.menu__link(href="#") Дистанционное обучение
      a.menu__link(href="#") Система СДО
      a.menu__link(href="#") Документы для поступающих
      a.menu__link(href="#") Правовые и&nbsp;правоустанавливающие документы
      a.menu__link(href="#") Записаться на&nbsp;курс (программу)
  .aside__contacts
    .contacts
      .contacts__title.title КОНТАКТЫ
      .contacts__text Институт экспертной и&nbsp;контрольно-надзорной деятельности Университета Минстроя НИИСФ&nbsp;РААСН
      .contacts__phone
        a.phone.phone--aside(href="tel:+74955067152") +7 (495) 506-71-52
          svg.phone__ico.phone__ico--aside.ico.ico--phone
            use(xlink:href='#ico-phone')
      .contacts__mail
        a.mail.phone--aside(href="mailto:iexp@niisf.ru") iexp@niisf.ru
          svg.mail__ico.mail__ico--aside.ico.ico--mail
            use(xlink:href='#ico-mail')
      .contacts__address
        address.address.address--aside 127238, г. Москва, Локомотивный проезд, 21, каб. 307
          svg.address__ico.address__ico--aside.ico.ico--address
            use(xlink:href='#ico-address')
      .contacts__time
        .time.time--aside 9:00&mdash;18:00
          svg.time__ico.time__ico--aside.ico.ico--time
            use(xlink:href='#ico-time')