section.firstScreen
  .firstScreen__titleWrapper.firstScreenTitleWrapper
      h1.firstScreen__title Краснодарский 
        strong метрополитен
      span 2021
  .firstScreen__block.firstScreenBlock
    .firstScreenBlock__inner
      ul.firstScreenBlockLeft__list.firstScreenBlockLeftList
        li.active
          a(href="scheme-metro.html") Схема Краснодарского метрополитена
        li
          a(href="pluses.html") Плюсы для города
        li
          a(href="#") Программа “Комплексное развитие территорий”
        li
          a(href="features.html") Отличия Краснодарского метро
        li
          a(href="#") Новости
      .firstScreenBlock__left.firstScreenBlockLeft
      