mixin firstBlock(title1, title2, title3)
  section.firstScreen
    .firstScreen__titleWrapper.firstScreenTitleWrapper
        h1.firstScreen__title=title1
          br
          strong=title2
        if title3
          span=title3
    .firstScreen__block.firstScreenBlock
      .firstScreenBlock__inner
        ul.firstScreenBlockLeft__list.firstScreenBlockLeftList
          li.active
            a(href="scheme-metro.html") Схема Краснодарского метрополитена
          li
            a(href="pluses.html") Плюсы для города
          li
            a(href="integrated-development.html") Программа “Комплексное развитие территорий”
          li
            a(href="features.html") Отличия Краснодарского метро
          li
            a(href="#") Новости
        .firstScreenBlock__left.firstScreenBlockLeft
      