section.firstScreen
  .firstScreen__titleWrapper.firstScreenTitleWrapper
      h1.firstScreen__title Краснодарский 
        strong метрополитен
      span 2021
  .firstScreen__block.firstScreenBlock
    .firstScreenBlock__left.firstScreenBlockLeft
      ul.firstScreenBlockLeft__list.firstScreenBlockLeftList
        li
          a(href="#") Схема Краснодарского метрополитена
        li
          a(href="#") Схема Краснодарского метрополитена
      