footer.footer
  .footer__top.footerTop
    h2.footerTop__title контакты
  .footer__content.footerContent 
    .footerContent__logoBox.footerContentLogoBox 
      a(href="index.html") 
        img(src="images/logo1.svg", alt="")
    .footerContent__column.footerContentColumn 
      .footerContentColumn__item.footerContentColumnItem 
        .footerContentColumnItem__title Адрес: 
        .footerContentColumnItem__text город Краснодар
      .footerContentColumn__item.footerContentColumnItem 
        .footerContentColumnItem__title Телефон:
        .footerContentColumnItem__text 
          a(href="tel:+79383150701") 8 (938) 315-07-01
    .footerContent__column.footerContentColumn 
      .footerContentColumn__item.footerContentColumnItem 
        .footerContentColumnItem__title Email: 
        .footerContentColumnItem__text 
          a(href="mailto:info@krdmetro.ru") info@krdmetro.ru
      .footerContentColumn__item.footerContentColumnItem.footerContentColumnItem--social 
        .footerContentColumnItem__title Соц.сети:
        .footerContentColumnItem__socials.footerContentColumnItemSocials
          a(href="#") 
            img(src="images/insticon.svg", alt="")
          a(href="#") 
            img(src="images/tgicon.svg", alt="")
  .footer__bottom.footerBottom 
    p © 2021  Краснодарский метрополитен. Все права защищены