//- svg.hide
//-   include svg

//- noscript.noscript Чтобы посмотреть сайт включите JavaScript на&nbsp;своём устройстве.

header.header
  .header__top.headerTop
    .headerTop__flagBox.headerTopFlagBox
      img.headerTopFlagBox__img(src="images/flag1.png")
    .headerTop__logoBox.headerTopLogoBox
      a(href="index.html") 
        img.headerTopLogoBox__img(src="images/logo1.svg")
    .headerTop__flagBox.headerTopFlagBox
      img.headerTopFlagBox__img(src="images/flag2.png")
    .headerTop__menuBtn.mobileMenu
      .mobileMenu__btn.mobileMenuBtn
        span.mobileMenuBtn__line
  .header__menuWrapper.headerMenuWrapper
    ul.headerMenuList
      li
        a(href="#") О Краснодаре
      li
        a(href="krd-metro.html") Краснодарский метрополитен
      li
        a(href="laws.html") Законодательная база
      li
        a(href="#") Видеопрезентация
      li
        a(href="#") Тендеры. Контракты
      li
        a(href="structure-directors.html") Структура дирекции по строительству


            //- <div class="mobile__menu">
            //-     <div class="menu__btn"><span class="menu__btn-line"></span></div>
            //- </div>