.header
  wrapper()
  // padding-bottom 17px
  box-sizing border-box

.headerTop
  padding-top 15px
  padding-bottom 12px
  display flex
  justify-content space-between
  align-items center
  img
    display block
    object-fit cover
    width 100%

.headerMenuWrapper
  padding 21px 0px 18px
  border-top 1px dashed #777
  border-bottom 1px dashed #777
  padding-bottom cw(17)

.headerMenuList
  display flex
  justify-content space-between
  li
    a 
      text-decoration none
      fz(20)
      line-height 1.27%
      color #000000
