
html,
body
  font-size 10px

html
  scroll-behavior: smooth;

body
  font-family: 'HelveticaNeueCyr', sans-serif;

a 
  color inherit
  text-decoration none
  
.hide
  display none

.textInfoCard
    fz(24)
    line-height 1.46
    text-transform uppercase
    color #fff
    background-color #23164B
    strong
      font-weight bold

// .container
  // max-width 1618px
  // padding 0 15px
  // margin 0 auto

// krdMetro page styles start
.krdmetro
  wrapper()
  padding-top cw(62)
  margin-bottom cw(135)
  p 
    fz(20)
    line-height 1.45
    color #000
.krdmetroFirstBlock
  display flex
  justify-content space-between
  margin-bottom 52px
.krdmetroFirstBlockLeft
  width 38%
  h1 
    padding-left cw(15)
    margin-bottom cw(64)
    fz(24)
    line-height 1.407
    text-transform uppercase
    color #000
    font-family: 'HelveticaNeueCyr', sans-serif;
    position relative
    &::before
      content ''
      position absolute
      left 0
      top 0
      bottom 0
      width 4px
      background-color #E42829
  p
    margin-bottom 47px
  .krdmetroFirstBlockLeft__infoCard
    padding 12px 28px 12px 52px
    max-width 420px
.krdmetroFirstBlockRight
  width 56%
  a 
    display block
    position relative
    &::after
      content url('../images/videoPlayBtn1.svg')
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
      transition all .3s
    &:hover
      &::after
        transform translate(-50%, -50%) scale(1.2)
  img 
    width 100%
    height auto
    object-fit cover
.krdmetroSecondBlock
  display flex
  justify-content space-between
  align-items stretch
.krdmetroSecondBlockColumn
  width 27%
  display flex
  flex-direction column
  justify-content space-between
  p 
    margin-bottom 20px
  img 
    display block
    width 100%
    height auto
    object-fit cover
  .krdmetroSecondBlockColumn__infoCard
    padding 30px 20px 30px 40px
// krdMetro page styles end

// scheme page styles start
.schemeBlock
  wrapper()
  padding-top 89px
  margin-bottom 145px
  border-radius 50px
.schemeBlockImgBlock
  width 80%
  margin 0 auto
  position relative
  img 
    display block
    width 100%
    height auto
    object-fit contain
.schemeBlockImgBlock__GoToLink
  position absolute
  top 62px
  right 43px
  z-index 2
  background-color #00FF01
  border-radius cw(87)
  padding 17px 23px
  transition all .3s
  span
    font-weight 550
    fz(18)
    line-height 1.45
    padding-right cw(35)
    text-transform uppercase
    color #000
    position relative
    &::after
      content url('../images/arrow1.svg')
      position absolute
      right 0
      top -6px
.schemeStationsBlock
  wrapper()
  display flex
  justify-content space-between
  margin-bottom 150px
.stationsColumnItem
  padding-left 109px
.stationsColumnItem__title
  fz(24)
  line-height 1.407
  text-transform uppercase
  color #000
  margin-bottom 25px
  position relative
  &::before
    content ''
    position absolute
    left -109px
    top 50%
    width 75px
    height 8px
.stationsColumnItem__title--red
  &::before
    background-color #E42829
.stationsColumnItem__title--blue
  &::before
    background-color #0000FE
.stationsColumnItemList
  li
    fz(18)
    line-height 1.45
    color #000
    padding-left 22px
    margin-bottom 21px
    position relative
    &::before
      content ''
      position absolute
      left 0
      top 50%
      transform translateY(-50%)
      width 10px
      height 10px
      border-radius 50%
      background-color #00FF01
.stationsFormBlock
  width 29%
.stationsFormBlock__title
  font-weight bold
  fz(24)
  line-height 1.407
  text-transform uppercase
  color #000
  margin-bottom 20px
.stationsForm__input
  display block
  width 100%
  fz(16)
  line-height 1.45
  letter-spacing 0.05em
  text-transform uppercase
  color #000
  border 1px solid #C5C5C5
  padding 20px 12px
  margin-bottom 37px
  &::placeholder
    color #000
.stationsForm__textarea
  display block
  width 100%
  fz(16)
  line-height 1.45
  letter-spacing 0.05em
  text-transform uppercase
  color #000
  border 1px solid #C5C5C5
  padding 20px 12px
  margin-bottom 22px
  min-height 180px
  &::placeholder
    color #000
.stationsForm__btn
  background: #23164B;
  border-radius: 87px;
  padding 20px 27px
  fz(18)
  line-height 1.45
  letter-spacing 0.05em
  text-transform uppercase
  color #fff
  border none
  cursor pointer
  transition all .3s
  &:hover
    background: lighten(#23164B, 20%)
// scheme page styles end


// laws page styles start
.lawsBlock
  padding-top 68px
  padding-bottom 93px
  wrapper()
.lawsBlock__title
  padding-left cw(15)
  margin-bottom cw(49)
  fz(24)
  line-height 1.407
  text-transform uppercase
  color #000
  max-width 610px
  position relative
  &::before
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    width 4px
    background-color #E42829
.lawsBlock__pWrapper
  p 
    fz(20)
    line-height 1.45
    color #000
    max-width 910px
    margin-bottom cw(25)
.lawsBlock__pWrapper--central 
  margin-left 17%
  margin-bottom cw(35)
  p 
    max-width 850px
    margin-bottom 0
  .lawsBlock__pUpperCase
    text-transform uppercase
.lawsBlockTextBlockColumns
  display flex
  justify-content space-between
  margin-bottom cw(68)
.lawsBlockTextBlockColumn
  width 30%
  &--infoCard
    width 424px
    .textInfoCard
      padding 41px 35px 41px
      margin-bottom 11px
    .lawsBlockTextBlockColumn__author
      fz(24)
      line-height 1.45
      color #000
      text-align right
  p 
    fz(20)
    line-height 1.45
    color #000
// laws page styles end

// pluses page styles start
.plusesBlock
  padding-top cw(111)
  padding-bottom cw(160)
.plusesBlockListItem
  border-bottom 1px solid #989898
  &:last-child
    border none
.plusesBlockListItemContent
  display block
  text-transform uppercase
  wrapper()
  padding-top 12px
  padding-bottom 25px
  display flex
.plusesBlockListItemContent__num
  fz(36)
  line-height 1
  color #23164B
  letter-spacing 0.02em
  display block
  margin-right cw(64)
.plusesBlockListItemContent__text
  fz(28)
  line-height 1.29
  letter-spacing 0.01em
  color #000
  display block
  margin-top 18px


// pluses page styles end
// features page styles end
.featuresSection
  padding-top cw(53)
  padding-bottom cw(167)
  wrapper()
.featuresSectionRow
  display flex
  justify-content space-between
  align-items center
.featuresSectionRow--first 
  .textInfoCard
    padding 50px 25px 50px 30px
.featuresSectionRow--center
  justify-content center
  margin-bottom cw(33)
.featuresSectionRow--baseline
  align-items flex-start
  .textInfoCard
    padding 37px 16px
.featuresSectionRowItem
  max-width 700px
.featuresSectionRow__infoCard
  max-width 420px
  padding 20px
  fz(18)
.featuresSectionRowItemNumBlock
  font-family: Yellowtail;
  fz(60)
  line-height (82/60)
  letter-spacing 0.02em
  text-transform uppercase
  color #23164B
  border-radius 50%
  border 1px dashed #23164B
  width cw(100)
  height cw(100)
  display flex
  justify-content center
  align-items center
  margin-bottom cw(41)
.featuresSectionRowItemNumBlock__content
  position relative
  left -7%
.featuresSectionRowItem__text
  fz(20)
  line-height 1.45
  color #000
.featuresSectionRowColumn--start
  .featuresSectionRowItem
    width 130%
    margin-bottom cw(60)
  .featuresSectionRowColumnImgBlock__img
    display block
    width 80%
    height auto
    object-fit cover
.featuresSectionRowColumn--center
  align-self center
  position relative
  top -50px
.featuresSectionRowColumn--end
  align-self flex-end
  .featuresSectionRowItem
    width 150%
    position relative
    left -50%
    .featuresSectionRowItemNumBlock
      margin-bottom cw(30)

// features page styles end