- var mail = "mail@mail.ru";
- var phone = "+71234567890";
- var link_soc_wp = "https://api.whatsapp.com/send?phone=";
- var link_soc_tg = "https://t.me/";
- var link_soc_ig = "https://www.instagram.com/";
- var link_soc_vk = "https://vk.com/write";