.page
  .page__box
    .page__aside
      include ../partials/aside
    .page__main
      .page__main-content
        .content
          .content__title Направление деятельности Института экспертной и&nbsp;контрольно-надзорной деятельности
          .content__box
            .about
              .about__title.title Об&nbsp;институте
              .about__box
                img.about__img(src="images/plug.svg")
                .about__text
                  p Институт экспертной и контрольно-надзорной деятельности Университета Минстроя НИИСФ РААСН реализует образовательные программы дополнительного профессионального образования для повышения качества и безопасности строящихся и эксплуатируемых объектов строительной отрасли и ЖКХ, а также для получения знаний о новейших достижениях науки и техники, передовом отечественном и зарубежном опыте в сфере строительства и городского хозяйства.
                  p Институт реализует образовательные программы в сфере строительно-технической экспертизы, строительного контроля, претензионной, аудиторской деятельности и организации строительства, осуществляет строительно-техническую экспертизу зданий и сооружений.
                  p Обучение проводится по очно-заочной и заочной форме обучения с применением дистанционных образовательных технологий и электронного обучения в открытом и корпоративном формате.
      .page__main-footer
        include ../partials/footer