.page
  .page__box
    .page__aside
      include ../partials/aside
    .page__main
      .page__main-content
        .content
          .content__title Дистанционное обучение в сфере экспертной и контрольно-надзорной деятельности
          .content__box 
            .text-block
              .text-block__title.title О дистанционном обучении
              .text-block__box
                .text-block__text
                  p
                    strong Дистанционное обучение 
                    | &mdash; это способ организации процесса обучения, основанный на использовании современных информационных и телекоммуникационных технологий, позволяющих осуществлять обучение на расстоянии без непосредственного контакта между преподавателем и слушателем. Под дистанционными образовательными технологиями (ДОТ) понимаются образовательные технологии, реализуемые в основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии) взаимодействии обучающихся и педагогических работников.
                  p Институт экспертной и контрольно-надзорной деятельности Университета Минстроя НИИСФ РААСН проводит обучение с  использованием дистанционных образовательных по направлениям "Промышленное гражданское строительство", "Исследование строительных объектов и территории функционально связанной с ними, в том числе с целью проведения их оценки". 
                  p Обучение с использованием дистанционных образовательных технологий обеспечивает Информационная образовательная среда Института экспертной и контрольно-надзорной деятельности Университета Минстроя НИИСФ РААСН 
                  p.title Информационная образовательная среда Института экспертной и контрольно-надзорной деятельности Университета Минстроя НИИСФ РААСН
                  p Внедрение дистанционных образовательных технологий в систему повышения квалификации  строительных экспертов и контролеров  позволяет им учиться на рабочем месте, сделать обучение непрерывным.
                  p Курсы, разработанные Институтом экспертной и контрольно-надзорной деятельности Университета Минстроя НИИСФ РААСН  включают в себя виртуальный дистанционный практикум.
                  p Виртуальный дистанционный практикум основан на кейсовой технологии- предоставлении обучающимся информационных образовательных ресурсов в виде специализированного учебно-методического комплекса (электронная библиотека правовых и технических норм, практические пособия, примеры  выполнения экспертиз, каталоги контрольно- измерительных приборов и аппаратуры,  арбитражная практика решения споров по качеству строительно-монтажных работ, видеоуроки по расчету  строительных конструкций, выполнению обмерочных чертежей и дефектных ведомостей, составлению и проверке  сметной документации   с использованием лицензионных программ т.п.).
                  p Практико-ориентированные электронные курсы помогают специалистам данного профиля выработать начальные умения при работе с информационными, расчетными и чертежными программами.
      .page__main-footer
        include ../partials/footer