include ../partials/firstScreenBlock
+firstBlock('Отличия краснодарского', 'метро')

.featuresSection
  .featuresSection__row.featuresSectionRow.featuresSectionRow--first 
    .featuresSectionRow__item.featuresSectionRowItem
      .featuresSectionRowItem__numBlock.featuresSectionRowItemNumBlock
        .featuresSectionRowItemNumBlock__content 01
      .featuresSectionRowItem__text Краснодарский метрополитен имеет подвижной состав на резиновом ходу. Это, конечно, не новость в мировом метростроении. <br> 52 современных метрополитена в мире имеют подвижной состав на резиновом ходу, в том числе метро Парижа, Марсель, Осаки, Монреаля Пусана и др. <br> Главные плюсы такого метро - это низкий уровень шума и плавность хода, а также полное отсутствие вибраций для близлежащих зданий и сооружений. 
    .featuresSectionRow__infoCard.textInfoCard Краснодарское метро будет <strong>полностью автоматизированным</strong> и «беспилотным».
  .featuresSection__row.featuresSectionRow.featuresSectionRow--center
    .featuresSectionRow__item.featuresSectionRowItem
      .featuresSectionRowItem__numBlock.featuresSectionRowItemNumBlock
        .featuresSectionRowItemNumBlock__content 02
      .featuresSectionRowItem__text Краснодарский метрополитен - это метро неглубокого залегания. На всем протяжении метро - подземное, глубина залегания составляет от 5 до 20 метров.
  .featuresSection__row.featuresSectionRow.featuresSectionRow--baseline
    .featuresSectionRow__infoCard.textInfoCard Каждая из 50-ти станций Краснодарского метро представляет из себя <strong>семиэтажный многофункциональный комплекс.</strong>
    .featuresSectionRow__item.featuresSectionRowItem
      .featuresSectionRowItem__numBlock.featuresSectionRowItemNumBlock
        .featuresSectionRowItemNumBlock__content 03
      .featuresSectionRowItem__text Тоннель Краснодарского метро имеет диаметр в 6 метров и монтируется по технологии модульных стыкуемых железобетонных блоков, укрепляемых до монолитного состояния. Прокладка тоннеля осуществляется с помощью проходческих щитов, использующих технологию пошагового бурения, допускающих прокладку тоннеля в нестабильных водонасыщенных грунтах и исключающих просадку грунта. Данная технология на сегодняшний день является самой современной.
  .featuresSection__row.featuresSectionRow.featuresSectionRow--threeColumns
    .featuresSectionRow__column.featuresSectionRowColumn.featuresSectionRowColumn--start
      .featuresSectionRowColumn__item.featuresSectionRowItem
        .featuresSectionRowItem__numBlock.featuresSectionRowItemNumBlock
          .featuresSectionRowItemNumBlock__content 04
        .featuresSectionRowItem__text В одном тоннеле движутся составы только одного направления, что исключает вероятность лобового столкновения. Поезда состоят из трех вагонов с возможностью увеличения до пяти вагонов. 
      .featuresSectionRowColumn__item.featuresSectionRowColumnImgBlock 
        img.featuresSectionRowColumnImgBlock__img(src="images/cityimg3.jpg", alt="")
    .featuresSectionRow__column.featuresSectionRowColumn.featuresSectionRowColumn--center
      .featuresSectionRowColumn__item.featuresSectionRowItem
        .featuresSectionRowItem__numBlock.featuresSectionRowItemNumBlock
          .featuresSectionRowItemNumBlock__content 05
        .featuresSectionRowItem__text На период обкатки, поездами будут управлять машинисты, в дальнейшем Краснодарское метро будет полностью автоматизированным и «беспилотным».  
    .featuresSectionRow__column.featuresSectionRowColumn.featuresSectionRowColumn--end
      .featuresSectionRowColumn__item.featuresSectionRowItem
        .featuresSectionRowItem__numBlock.featuresSectionRowItemNumBlock
          .featuresSectionRowItemNumBlock__content 06
        .featuresSectionRowItem__text Каждая из 50-ти станций Краснодарского метро представляет из себя семиэтажный многофункциональный комплекс. <br> Каждый из этих комплексов является объектом частного бизнеса. Собственник за право постройки и владения комплексом предоставляет Краснодарскому метрополитену в бессрочное и безвозмездное пользование минус второй этаж, непосредственно являющийся станцией, и обеспечивает доступ к нему с помощью лифта и эскалатора. <br> Уже на сегодняшний день на большинство этих станций есть инвесторы.



include ../partials/footer