include ../partials/firstScreenBlock
+firstBlock('Краснодарский', 'метрополитен', '2021')

section.krdmetro
  .krdmetro__firstBlock.krdmetroFirstBlock
    .krdmetroFirstBlock__left.krdmetroFirstBlockLeft
      h1 Краснодарский метрополитен - это уникальный проект не только для города, но и для всей страны.
      p В ближайшее время проект Краснодарского метрополитена может быть включён в перечень реализуемых крупных инфраструктурных проектов на федеральном уровне. Краснодарский метрополитен - это, без сомнения, один из важнейших объектов города на ближайшее десятилетие.
      .krdmetroFirstBlockLeft__infoCard.textInfoCard <strong>более 5 000</strong> высокооплачиваемых <strong>рабочих мест</strong>
    .krdmetroFirstBlock__right.krdmetroFirstBlockRight 
      a(href="https://youtu.be/BVGO8H8FKfg", data-fancybox) 
        img(src="images/krdmetroVideo.jpg", alt="")
  .krdmetro__secondBlock.krdmetroSecondBlock
    .krdmetroSecondBlock__column.krdmetroSecondBlockColumn
      P Это социально-значимый проект, при реализации которого будет дополнительно создано более 5 000 высокооплачиваемых рабочих мест. На разных этапах реализации проекта дополнительными заказами будут загружены до 10 000 человек в смежных отраслях. Будут задействованы десятки сторон дополнительных организаций, проектные институты и бюро, предприятия машиностроения и энергетики и др.
      img(src="images/cityimg1.jpg", alt="")
    .krdmetroSecondBlock__column.krdmetroSecondBlockColumn
      p Каждая из 50-ти станций Краснодарского метро представляет из себя 7-ми этажный многофункциональный центр, состоящий из 5-ти надземных этажей и 2-х подземных.
      p Как показывает практика, в регионах, где осуществляются такие крупные инфраструктурные проекты, значительно улучшается демографическая обстановка, растет благосостояние граждан, и как следствие, сокращается число разводов и растет рождаемость.
      img(src="images/cityimg2.jpg", alt="")
    .krdmetroSecondBlock__column.krdmetroSecondBlockColumn
      p В таких центрах будут расположены спортивные секции, фитнес центры, муниципальные поликлиники и частные медицинские центры, гостиницы и предприятия общепита, детские клубы, музыкальные и художественные школы, офисные помещения.
      .krdmetroSecondBlockColumn__infoCard.textInfoCard значительно <strong>улучшается</strong> демографическая обстановка
      p Именно об этом говорил Президент Российской федерации В.В. Путин в своём послании Федеральному собранию, перечисляя меры, необходимые для преодоления демографического кризиса.




include ../partials/footer