include ../partials/firstScreenBlock
+firstBlock('законодательная', 'база')

.lawsBlock 
  .lawsBlock__title 12 мая 2021 года Государственной думе был представлен ежегодный, уже второй отчет правительства Михаила Мишуcтина.
  .lawsBlock__pWrapper 
    p В отличие от первого, он больше касался постковидного развития - реализации Общенационального плана действий и реализации национальных проектов.Принципиально важной инновацией этого отчета стало то, что Правительство делает акцент на вопросах регионального развития.
  .lawsBlock__pWrapper.lawsBlock__pWrapper--central 
    p В апреле 2021 года в своем послании Федеральному собранию, президент Российской Федерации В.В. Путин в очередной раз подчеркнул важность реализации крупных инфраструктурных проектов для развития регионов. 
    p Особо отметив при этом, что реализованы такие проекты должны быть в максимально короткие сроки.
  .lawsBlock__pWrapper.lawsBlock__pWrapper--central 
    p.lawsBlock__pUpperCase «Я прошу руководителей субъектов максимально внимательно отнестись к подготовке проектов для такого финансирования. В приоритетном порядке ресурсы должны направляться на создание комфортной среды для жизни людей, в обновлении городов, других населённых пунктов.» <br> - подчеркнул глава государства.
  .lawsBlock__textBlockColumns.lawsBlockTextBlockColumns
    .lawsBlockTextBlockColumns__column.lawsBlockTextBlockColumn
      p Секретарь Генсовета «Единой России» Андрей Турчак в ходе стратегической сессии «Единой России» - «Инфраструктурные проекты в регионах - драйвер роста», предложил регионам не ждать выхода порядка реализации инфраструктурных проектов, а готовить заявки уже сейчас. <br> «Можете рассчитывать здесь на любую помощь «Единой России» - отметил Андрей Турчак.
    .lawsBlockTextBlockColumns__column.lawsBlockTextBlockColumn
      p Правительство Российской Федерации во главе с Михаилом Мишустиным подготовило план по агрессивному развитию инфраструктуры, разработку которого курирует зампред правительства Марат Хуснуллин. Стратегия «Агрессивное развитие инфраструктуры» стоит более 22 трлн. рублей и предусматривает развитие в России 41 агломерации.
    .lawsBlockTextBlockColumns__column.lawsBlockTextBlockColumn.lawsBlockTextBlockColumn--infoCard
      .lawsBlockTextBlockColumn__textCard.textInfoCard «Можете рассчитывать здесь на <strong>любую помощь</strong> «Единой России»
      .lawsBlockTextBlockColumn__author А. А. Турчак
  .lawsBlock__pWrapper 
    p Таким образом, Президент и Правительство Российской Федерации создали максимально комфортные условия для развития регионов. Теперь дело за региональными властями. Именно от руководства регионов зависит, насколько быстро, в постковидный период, государство перейдёт к устойчивому росту экономики!

include ../partials/footer