include ../partials/firstScreenBlock
+firstBlock('Плюсы для', 'города')

.plusesBlock
  ul.plusesBlock__list.plusesBlockList 
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 01
        span.plusesBlockListItemContent__text Улучшение экологической <br> обстановки в городе
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 02
        span.plusesBlockListItemContent__text Удобство, комфорт и быстрота передвижения  <br> горожан по территории города
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 03
        span.plusesBlockListItemContent__text Снижение транспортной нагрузки на дороги общего назначения и, как следствие, уменьшение транспортных заторов и снижение выбросов выхлопных газов
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 04
        span.plusesBlockListItemContent__text Город получает важный стратегический объект, так как все метрополитены мира в случае экстренных ситуаций используются как убежища
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 05
        span.plusesBlockListItemContent__text Отпадает необходимость строительства аэроэкспресса в новый Краснодарский аэропорт. А это экономия десятков миллиардов бюджетных рублей.
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 06
        span.plusesBlockListItemContent__text Сохранение плодородного слоя почвы за счет снижения необходимости расширения действующих дорог и строительства большого количества новых.
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 07
        span.plusesBlockListItemContent__text Развитие спорта в городе, так как спортивные объекты становятся легкодоступными для горожан
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 08
        span.plusesBlockListItemContent__text По этой же причине улучшатся образование и медицина
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 09
        span.plusesBlockListItemContent__text Развитие многих промышленных предприятий
    li.plusesBlockList__item.plusesBlockListItem
      span.plusesBlockListItem__content.plusesBlockListItemContent
        span.plusesBlockListItemContent__num 10
        span.plusesBlockListItemContent__text Будут созданы до 5 000 новых высокооплачиваемых рабочих мест


include ../partials/footer