.page
  .page__box
    .page__aside
      include ../partials/aside
    .page__main
      .page__main-content
        .content
          .content__title Программы профессиональной переподготовки
          .content__box 
            .programs
              .programs__title.title Наши программы
              .programs__box
                .programs__item
                  img.programs__img(src="images/img_program1.jpg")
                  .programs__name.title Аудитор в сфере строительства
                  .programs__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.programs__link.button(href="#") Подробнее
                .programs__item
                  img.programs__img(src="images/img_program2.jpg")
                  .programs__name.title Строительный эксперт
                  .programs__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.programs__link.button(href="#") Подробнее
                .programs__item
                  img.programs__img(src="images/img_program3.jpg")
                  .programs__name.title Технический заказчик
                  .programs__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.programs__link.button(href="#") Подробнее
      .page__main-footer
        include ../partials/footer