.page
  .page__box
    .page__aside
      include ../partials/aside
    .page__main
      .page__main-content
        .content
          .content__title Программы повышения квалификации
          .content__box 
            .qualify
              .qualify__box
                .qualify__item
                  .qualify__num 01
                  .qualify__name.title Лабораторный контроль, осуществляемый на площадке строительства объектов АЭС
                  .qualify__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.qualify__link.button(href="#") Подробнее
                .qualify__item
                  .qualify__num 02
                  .qualify__name.title Лабораторный контроль, осуществляемый на площадке строительства объектов АЭС
                  .qualify__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.qualify__link.button(href="#") Подробнее
                .qualify__item
                  .qualify__num 03
                  .qualify__name.title Лабораторный контроль, осуществляемый на площадке строительства объектов АЭС
                  .qualify__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.qualify__link.button(href="#") Подробнее
                .qualify__item
                  .qualify__num 04
                  .qualify__name.title Лабораторный контроль, осуществляемый на площадке строительства объектов АЭС
                  .qualify__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.qualify__link.button(href="#") Подробнее
                .qualify__item
                  .qualify__num 05
                  .qualify__name.title Лабораторный контроль, осуществляемый на площадке строительства объектов АЭС
                  .qualify__text
                    p Продолжительность обучения:<br> 7,5 - 8 месяцев
                    p Стоимость обучения:<br> 60 000 рублей
                    p Даты обучения:<br> 13 мая - 29 ноября 2021 г.
                  a.qualify__link.button(href="#") Подробнее
                
                
      .page__main-footer
        include ../partials/footer