include ../partials/firstScreenBlock
+firstBlock('Схема краснодарского', 'метрополитена')

.schemeBlock 
  .schemeBlock__imgBlock.schemeBlockImgBlock 
    a(href="images/scheme2.jpg", data-fancybox) 
      img.schemeBlockImg(src="images/scheme2.jpg", alt="")
    a.schemeBlockImgBlock__GoToLink(href="#schemeStationsBlock")
      span смотреть названия станций
.schemeStationsBlock#schemeStationsBlock
  .schemeStationsBlock__stationsColumnItem.stationsColumnItem 
    .stationsColumnItem__title.stationsColumnItem__title--red КРАсная линия
    ul.stationsColumnItem__list.stationsColumnItemList
      li Российский
      li Молодежный
      li Новый Краснодар
      li Славянский
      li ККБ-2
      li Юбилейный
      li Яблоновский
      li ЖД Краснодар-1
      li Стадион Краснодар
      li ККБ-1
      li Губернский
  .schemeStationsBlock__stationsColumnItem.stationsColumnItem 
    .stationsColumnItem__title.stationsColumnItem__title--blue синяя линия
    ul.stationsColumnItem__list.stationsColumnItemList
      li Энка
      li Фестивальный
      li Центр
      li Комсомольский
      li Гидростроителей
      li Новый аэропорт
      li Пригородный
      li Индустриальный
      li Россинский
  .schemeStationsBlock__stationsColumnItem.stationsFormBlock
    .stationsFormBlock__title предложи <br> название станции
    form.stationsFormBlock__form.stationsForm 
      input.stationsForm__input(type="text", placeholder="Ваше имя")
      input.stationsForm__input(type="mail", placeholder="Ваш email")
      textarea.stationsForm__textarea(placeholder="Сообщение")
      input.stationsForm__btn(type="submit", value="Отправить")
      

include ../partials/footer