include ../partials/firstScreenBlock
+firstBlock('структура дирекции', 'по строительству')
      
.structureBlock 
  .structureBlock__row.structureBlockRow.structureBlockRow--head 
    .structureBlockRow__item.structureBlockRowItem
      .structureBlockRowItem__content.textInfoCard Краснодарский метрополитен
  .structureBlock__row.structureBlockRow.structureBlockRow--content 
    .structureBlockRow__column.structureBlockColumn 
      .structureBlockColumn__item.structureBlockColumnItem
        .structureBlockColumnItem__content.structureBlockColumnItemContent Общественный совет по строительству Краснодарского метрополитена
      .structureBlockColumn__item.structureBlockColumnItem.structureBlockColumnItem--special1
        .structureBlockColumnItem__content.structureBlockColumnItemContent
          .structureBlockColumnItemContent__title Президент Общественного совета - Виноградов Александр Владимирович
          .structureBlockColumnItemContent__contacts.structureBlockColumnItemContentContacts
            .structureBlockColumnItemContentContacts__column.structureBlockContactsColumn
              .structureBlockContactsColumn__item.structureBlockContactItem 
                a.structureBlockContactItem__tel(href="tel:+79383150701") 8-938-315-07-01
              .structureBlockContactsColumn__item.structureBlockContactItem 
                a.structureBlockContactItem__email(href="mailto:info@krdmetro.ru") info@krdmetro.ru  
            .structureBlockColumnItemContentContacts__column.structureBlockContactsColumn
              .structureBlockContactsColumn__item.structureBlockContactItem 
                a.structureBlockContactItem__link(href="http://krdmetro.ru") krdmetro.ru
              .structureBlockContactsColumn__item.structureBlockContactItem 
                .structureBlockContactItem__socials.structureBlockContactItemSocials
                  a.structureBlockContactItemSocials__link(href="#")
                    img(src="images/tgicon.svg", alt="")
                  a.structureBlockContactItemSocials__link(href="#")
                    img(src="images/insticon.svg", alt="")
    .structureBlockRow__column.structureBlockColumn 
      .structureBlockColumn__item.structureBlockColumnItem
        .structureBlockColumnItem__content.structureBlockColumnItemContent Дирекция по строительству и эксплуатации Краснодарского метрополитена
      .structureBlockColumn__item.structureBlockColumnItem
        .structureBlockColumnItem__content.structureBlockColumnItemContent Назначается администрацией города Краснодар, администрацией Краснодарского края, Минстоем и Минтрансом России, Правительством Российской Федерации
        
include ../partials/footer